.checkout-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  &__input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(225, 225, 225);

    &::-webkit-input-placeholder {
      color: rgb(101, 101, 101);
    }

    &::-moz-placeholder {
      color: rgb(101, 101, 101);
    }

    &:-ms-input-placeholder {
      color: rgb(101, 101, 101);
    }

    &::-ms-input-placeholder {
      color: rgb(101, 101, 101);
    }

    &::placeholder {
      color: rgb(101, 101, 101);
    }

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
  &__submit {
    margin-top: 2rem;
  }
}
