.itemList {
  .items {
    ul {
      padding: 0.5rem;
      margin: 40px 0;
      display: flex;

      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;

      list-style: none;
      .item {
        flex: 1 0 150px;
      }
    }
  }
}
