.itemList {
  &__header {
    @include respond(tab-land) {
      padding: 0 1rem;
    }
  }

  .items {
    ul {
      margin: 40px 0;
      display: flex;

      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;

      list-style: none;
      @include respond(tab-land) {
        padding: 0 1rem;
      }
      .item {
        flex: 1 0 150px;
      }
    }
  }
}
