*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem setting
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem 12px
  }
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: $darkPurple;
  color: white;
}

a,
a:link:visited {
  color: white;
  text-decoration: none;
}

section {
  margin: 40px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  margin-bottom: 4rem;
}

.center {
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn-ghost {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: orangered;
    border: 1px solid orangered;
  }
}
