/* VARIABLES */

$main-color: #fa0e89;
$secondary-color: #c70d9b;
$terceary-color: #7209b7;

$orange: #ff4500;
$darkPurple: #1f0c30;
$bg-dark: #151515;
$light-grey: #e1e1e1;

$title: "Josefin Sans";
$regular: "Roboto";
