@import "general.scss";
.row {
  margin: 0 auto;
  max-width: 1200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__main {
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 5px;
      }
    }
  }
}
