.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    display: flex;
    align-items: center;
    &--main {
      ul {
        list-style: none;
        display: flex;
        li {
          margin: 0 5px;
        }
      }
    }
    &--cart {
      .cart-q {
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 0 6px;
        font-size: 14px;
      }
    }
  }
}
