.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    display: flex;
    align-items: center;
    &--main {
      ul {
        list-style: none;
        display: flex;
        li {
          margin: 0 5px;
        }
      }
    }
  }
}
